<!DOCTYPE html>
<html>
<head>
	<title>Musical Store</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="page-header" style="text-align: center;">
	  <h1>Add new Product</h1>
	</div>
	<div ng-app="myApp" ng-controller="myCtrl" ng-init="loadCart();">
		<form ng-submit="addProduct();"  style="padding: 50px">
			<div class="col-xs-12">
				<button type="button" class="btn btn-default btn-sm btn-warning col-xs-2 pull-right" ng-click="cartPage();" style="margin: 10px; margin-right: 0px;	">
					<span class="glyphicon glyphicon-shopping-cart"></span> Cart ({{cart.totalItem}}) ${{cart.cartTotal}}
				</button>
			</div>
			<div class="col-xs-12 form-group">
				<input class="form-control" type="text" ng-model="product.name" placeholder="product name"> <br>
				<input class="form-control" type="text" ng-model="product.brand" placeholder="product brand"> <br>
				<input class="form-control" type="text" ng-model="product.model" placeholder="product model"> <br>
				<input class="form-control" type="number" ng-model="product.price" placeholder="product price"> <br>
				<button class="btn col-xs-5" type="submit">Add</button>
				<button class="btn col-xs-5 col-xs-offset-2" type="submit" ng-click="indexPage();">Back</button>
			</div>
		</form>
	</div>

</body>
</html>
<script src="Controller.js"></script>